<!-- Posts Content-->
<div class="content">
    <div>
        <div class="clr-col-sm-12 clr-col-md-12">
            <div class="card card-background">
                <div class="card-header">
                    <b>Githmi Vithanawasam</b>
                    <small> 8/2 9:15 AM</small>  
                    <div class="card-text">
                        <p>Good Morning!</p>
                    </div>
                </div>
                <div class="card-block">
                    <div class="card-text">2 replies from Indika and Asanka</div>
                    <div class="card-text">
                        <cds-icon shape="undo"></cds-icon>
                        Reply
                    </div>
                </div>
            </div>

            <div class="card card-background">
                <div class="card-header">
                    <b>Githmi Vithanawasam</b>
                    <small> 8/2 9:15 AM</small>  
                    <div class="card-text">
                        <p>Good Morning!</p>
                    </div>
                </div>
                <div class="card-block">
                    <div class="card-text"></div>
                    <div class="card-text">
                        <cds-icon shape="undo"></cds-icon>
                        Reply
                    </div>
                </div>
            </div>
    
            <div *ngIf=visibleButton class="new-but">
                <button (click)="createField()">
                    <cds-icon shape="note"></cds-icon> New conversation
                </button> 
            </div>

            <div class="input-field new-but"></div>

            <!-- <input class="input-field new-but" type="text" id="formFields_2" size="45"> -->

            <!-- <div *ngIf = hideButton>
                <div [ngClass]="'.hide-button'" class="new-but">
                    
                </div>
              </div> 	
              <div *ngIf = !hideButton>
                <div>Odd Number</div>
              </div>

            <button (click)="createField()">
                <cds-icon shape="note"></cds-icon> New conversation
            </button>    -->

        </div>
    </div>
</div>



                 
  

        


