.header-wrap {
    font-size: x-small;
    height: 57px;
    background-color: #ff8702;
    padding: 0;
    margin-top: -5px;
    position: fixed;
    z-index: 9999;
    width: 100%;
}

.header-wrap cds-icon{
    height: 25px;
    width: 25px;
    color: #ffffff;
    margin-right: 30px;
}

.header-wrap:hover{
    color: #ffffff;
}
 
.header-wrap .search-div {
    background-color: whitesmoke;
    margin: 15px 5px 5px 13vw;
    height: 32px;
    border-radius: 6px;
    padding: 6px 12px;
    width: 40vw;
}

.header-wrap cds-icon {
    color: #ffffff;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
}

.header-wrap input{
    outline: none;
    border: none;
    background-color: whitesmoke;
    font-size: 16px;
}

/* .main-header {
    background-color: #ff8702;
}

.main-header cds-icon, .main-header span {
    color: #ffffff;
}

.search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
} */

