<!-- Main Header -->
<header class="header-3 header-wrap">
    <div class="branding">
        <a  href="https://teams.microsoft.com" class="nav-link">
            <cds-icon shape="applications" solid></cds-icon>
            <span class="title">Microsoft Teams</span>
        </a>
        <div class="search-div">
            <cds-icon shape="search"></cds-icon>
            <input type="text" placeholder="Search"/>
        </div>
    </div>

    <div class="header-actions">
        <div class="nav-link nav-icon icons">
            <cds-icon shape="ellipsis-horizontal" class="icons"></cds-icon>
        </div>
        
        <a href="#" class="nav-link nav-icon-text">
            <cds-icon shape="user" class="icons"></cds-icon>
        </a>
    </div>
</header>

<!-- Main Header
<header class="main-header">

    <div class="clr-col-2">
        <div class="branding main-header">
            <a href="https://teams.microsoft.com">
              <cds-icon shape="applications" solid></cds-icon>
              <span class="title"><b>Microsoft Teams</b></span>
            </a>
        </div>
    </div>

    <div class="clr-col-4 search">
        <div class="search icons">
            <label for="search_input">
                <input id="search_input" type="text" placeholder="Search" />
            </label>
        </div>
    </div>

    <div class="clr-col-6">
        <div class="header-actions">
            <div class="nav-link nav-icon icons">
                <cds-icon shape="ellipsis-horizontal" class="icons"></cds-icon>
            </div>
            
            <div class="nav-link nav-icon icons">
                <cds-icon shape="user" class="icons"></cds-icon>
            </div>
        </div>
    </div>
    
</header> -->
