<!-- Main Header -->
<header class="main-header">

    <div class="clr-col-2">
        <div class="branding main-header">
            <a href="https://teams.microsoft.com">
              <cds-icon shape="applications" solid></cds-icon>
              <span class="title"><b>Microsoft Teams</b></span>
            </a>
        </div>
    </div>

    <div class="clr-col-4 search">
        <div class="search icons">
            <label for="search_input">
                <input id="search_input" type="text" placeholder="Search" />
            </label>
        </div>
    </div>

    <div class="clr-col-6">
        <div class="header-actions">
            <div class="nav-link nav-icon icons">
                <cds-icon shape="ellipsis-horizontal" class="icons"></cds-icon>
            </div>
            
            <div class="nav-link nav-icon icons">
                <cds-icon shape="user" class="icons"></cds-icon>
            </div>
        </div>
    </div>
    
</header>
