.main-header {
    background-color: #ff8702;
}

.main-header cds-icon, .main-header span {
    color: #ffffff;
}

.search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}

