<!-- Posts Content-->
<div class="content">
    <div>
        <div class="clr-col-sm-12 clr-col-md-12">
            <div *ngIf=visibleButton class="new-but">
                <button (click)="createField()">
                    <cds-icon shape="note"></cds-icon> New conversation
                </button> 
            </div>    

            <div class="clr-row but">
                <div class="input-field" novalidate></div> 
                <button *ngIf=!visibleButton (click)="createCard()">
                    <cds-icon shape="arrow" direction="right"></cds-icon>    
                </button>   
            </div>

            <div>
                <div class="send-but"></div>
            </div>
            

        </div>
    </div>
</div>



                 
  

        


