<!-- Posts Content-->
<div class="content">
    <form novalidate #post="ngForm">
        <div class="clr-col-sm-12 clr-col-md-12">
            <div *ngIf=visibleButton class="new-but">
                <button (click)="createField()">
                    <cds-icon shape="note"></cds-icon> New conversation
                </button> 
            </div>    

            <div *ngIf=!visibleButton class="clr-row but">
                <div class="input-field">
                    <app-textfield></app-textfield>
                </div> 
                <button type="submit" (click)="createPost(post)">
                    <cds-icon shape="arrow" direction="right"></cds-icon>    
                </button>  
            </div>

            <div>
                <div *ngIf=visibleButton>
                    <!-- <app-post></app-post> -->
                </div>
                
                <div class="send-but"></div>
            </div>
            
        </div>
    </form>
</div>



                 
  

        


