<!-- Posts Content-->
<div class="content">

    <div class=" card-background" *ngFor="let conversation of conversationList;">
        <app-post [conversation]="conversation" ></app-post>
    </div>

    <form novalidate #postData="ngForm">
        <div class="clr-col-sm-12 clr-col-md-12">
            <div *ngIf=visibleButton class="new-but">
                <button (click)="createField()">
                    <cds-icon shape="note"></cds-icon> New conversation
                </button>
            </div>
        
            <div *ngIf=!visibleButton class="clr-row but">
                <div class="input-field">
                    <input name="content" [(ngModel)]="postService.chatData.content"
                         placeholder="Type a new message" id="formFields_2" size="100" required>
                </div>
                <button type="submit" (click)="createPost(postData.value);">
                <!-- <button type="submit" (click)="createPost(postData.value); postData.value=''"> -->
                    <cds-icon shape="angle" direction="right"></cds-icon>
                </button>
            </div>

            <div>
                <div *ngIf=visibleButton></div>
                <div class="send-but"></div>
            </div>     
        </div>
    </form>
</div>


  


                 
  

        


