.content {
    /* background-color: #e4ddf4; */
    height: 90vh;
    width: max-content; 
}

.card-background {
    background-color: #fffbf0;
}

.new-but {
    position: absolute; 
    bottom: 0;
}

.new-but button {
    background-color: #943d24;
    border: #943d24;
    color: #fffbf0;
}

.but {
    position: absolute; 
    bottom: 0;
    background-color: none;
    border: none;
    margin-left: 20px;
    height: 10px;
}
