<!-- Left Panel -->
<nav class="sidenav left-panel">
    <ul class="nav-list">
        <div class="nav-header">
            <b>Teams</b>
            <cds-icon shape="filter-2"></cds-icon>
        </div>

        <hr>

        <div class="teams-list">
            <li>
                <a class="nav-link">Internal Systems</a>
                <cds-icon shape="ellipsis-horizontal"></cds-icon>
            </li>

            <hr>

            <div class="create-team">
                <cds-icon shape="employee"></cds-icon>
                <span>Join or create a team</span>
                <cds-icon shape="cog" class="cog"></cds-icon>
            </div>
        </div>
    </ul>
</nav>
    
         


