<app-header></app-header>

<div class="flex-div">
    <div class="side-div">
        <app-sidenav></app-sidenav>
    </div> 
    <div class="page-routing-div">
        <app-content></app-content>
        <router-outlet></router-outlet>  
    </div>
</div>

<!-- <div class="clr-row">
    <div class="clr-col-12">
        <app-header></app-header>
    </div> 
</div>

<div class="clr-row">
    <div class="clr-col-12">
        <app-subnav></app-subnav>
    </div> 
</div>

<div class="content-container">
    <div class="clr-row">
        <app-sidenav></app-sidenav>  
        <app-leftpanel></app-leftpanel>
        <app-content></app-content>
    </div>
</div> -->

