.flex-div .side-div {
    width: 65px;
    margin-top: 52px;
    background-color: #e8e8e8;
    height: calc(100vh - 52px);
    overflow-x: hidden;
    display: block;
    border-right: 0.5px solid #c7c5c5;
    position: fixed; 
}

.flex-div .page-routing-div {
    padding-top: 52px;
    margin-left: 65px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    /* width: calc(100vw - 65px); */
    background-color: whitesmoke;
}