<clr-vertical-nav>
    <a class="side-link" [routerLink]="link.routerLink" routerLinkActive="active" clrVerticalNavLink *ngFor="let link of sideLinks">
        <cds-icon  size="24" clrVerticalNavIcon [attr.shape]="link.icon"></cds-icon>

      <small>{{link.label}}</small>
    </a>
</clr-vertical-nav>

<!-- Navigation Bar
<clr-vertical-nav class="navigation">
    <div class="nav-icons">
        <div>
            <a clrVerticalNavLink>
                <div>
                    <cds-icon clrVerticalNavIcon shape="bell"></cds-icon>
                </div>
                
            </a>
        </div>
            
        <div>
            <a clrVerticalNavLink>
                <cds-icon clrVerticalNavIcon shape="chat-bubble"></cds-icon>
            </a>
        </div>
           
        <div>
            <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
                <cds-icon clrVerticalNavIcon shape="employee-group"></cds-icon>
            </a>
        </div>
           
        <div>
            <a clrVerticalNavLink>
                <cds-icon clrVerticalNavIcon shape="tasks"></cds-icon>
            </a>
        </div>
        
        <div>
            <a clrVerticalNavLink>
                <cds-icon clrVerticalNavIcon shape="calendar"></cds-icon>
            </a>
        </div>
              
        <div>
            <a clrVerticalNavLink>
                <cds-icon clrVerticalNavIcon shape="employee-group"></cds-icon>
            </a>
        </div>
        
        <div>
            <a clrVerticalNavLink>
                <cds-icon clrVerticalNavIcon shape="file"></cds-icon>
            </a>
        </div>
        
        <div>
            <a clrVerticalNavLink>
                <cds-icon clrVerticalNavIcon shape="ellipsis-horizontal"></cds-icon>
            </a>
        </div>
    
        <div style="position:absolute; bottom: 0;">
            <div class="icons">
                <a clrVerticalNavLink>
                    <cds-icon clrVerticalNavIcon shape="grid-view"></cds-icon>
                </a>
            </div>
            
            <div >
                <a clrVerticalNavLink>
                    <cds-icon clrVerticalNavIcon shape="help"></cds-icon>
                </a>
            </div>
        </div>
    </div>   
</clr-vertical-nav> -->
