<!-- Navigation Bar -->
<clr-vertical-nav class="navigation">
    <div class="nav-icons">
        <div>
            <a clrVerticalNavLink>
                <div>
                    <cds-icon clrVerticalNavIcon shape="bell"></cds-icon>
                    <!-- <span class="icon-text">Activity</span> -->
                </div>
                
            </a>
        </div>
            
        <div>
            <a clrVerticalNavLink>
                <cds-icon clrVerticalNavIcon shape="chat-bubble"></cds-icon>
            </a>
            <!-- <span class="icon-text">Chat</span> -->
        </div>
           
        <div>
            <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
                <cds-icon clrVerticalNavIcon shape="employee-group"></cds-icon>
            </a>
            <!-- <span class="icon-text">Teams</span> -->
        </div>
           
        <div>
            <a clrVerticalNavLink>
                <cds-icon clrVerticalNavIcon shape="tasks"></cds-icon>
            </a>
            <!-- <span class="icon-text">Assignments</span> -->
        </div>
        
        <div>
            <a clrVerticalNavLink>
                <cds-icon clrVerticalNavIcon shape="calendar"></cds-icon>
            </a>
            <!-- <span class="icon-text">Calender</span> -->
        </div>
              
        <div>
            <a clrVerticalNavLink>
                <cds-icon clrVerticalNavIcon shape="employee-group"></cds-icon>
            </a>
            <!-- <span class="icon-text">Calls</span> -->
        </div>
        
        <div>
            <a clrVerticalNavLink>
                <cds-icon clrVerticalNavIcon shape="file"></cds-icon>
            </a>
            <!-- <span class="icon-text">Files</span> -->
        </div>
        
        <div>
            <a clrVerticalNavLink>
                <cds-icon clrVerticalNavIcon shape="ellipsis-horizontal"></cds-icon>
            </a>
        </div>
    
        <div style="position:absolute; bottom: 0;">
            <div class="icons">
                <a clrVerticalNavLink>
                    <cds-icon clrVerticalNavIcon shape="grid-view"></cds-icon>
                </a>
                <!-- <span class="icon-text">Apps</span> -->
            </div>
            
            <div >
                <a clrVerticalNavLink>
                    <cds-icon clrVerticalNavIcon shape="help"></cds-icon>
                </a>
                <!-- <span class="icon-text">Help</span> -->
            </div>
        </div>
    </div>   
</clr-vertical-nav>
