<div class="post">
  <div class="card-header">
    <b>Githmi</b><b>Vithanawasam </b>
    <small>{{today | date: "dd/MM HH.mm a"}}</small>
    <div class="card-text">
      <p *ngIf="!isUpdating">{{message}}</p>
      <form #updateMessage="ngForm" (submit)="saveUpdate(updateMessage.value)">
        <input *ngIf="isUpdating" value="{{message}}" name="newMessage" [(ngModel)]="newMessage" placeholder="Start a new conversation" required/>
        
        <button *ngIf="isUpdating" type="submit" >
          <cds-icon shape="angle" direction="right"></cds-icon>
        </button>
     
      </form>
    </div>
  </div>

  <div class="card-block">
    <div *ngFor="let element of replyList">
      <strong>Irosha Wijesinghe </strong>
      <small direction="right">{{element.time | date: "dd/MM HH.mm a"}}</small><br />
      <span>{{element.message}}</span><br /><br />
    </div>
    
    <div *ngIf="!isReplying" class="card-text">
      <span (click)="handleReply()">
        <cds-icon shape="undo"></cds-icon>
        Reply
      </span>

      <cds-icon (click)="handleUpdate()" shape="pencil" style="color: #2d2d2d; float: right;"></cds-icon>
      <cds-icon (click)="handledelete()" shape="trash" style="color: #2d2d2d; float: right;"></cds-icon>
    </div>
  </div>

  <div *ngIf="isReplying" class="card-text">
    <form novalidate #replyForm="ngForm">
      <input name="replyMessage" [(ngModel)]="replyMessage" placeholder="Type your reply message" id="formFields_2" size="100" required>
      <button type="submit" (click)="Reply(replyForm.value)">
        <cds-icon shape="angle" direction="right"></cds-icon>
      </button>
    </form>
  </div>
</div>



