.sub-header{
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
    border-bottom: 0.5px solid lightgray;
    height: 45px;
}

.sub-header a.nav-text, span {
    color: gray;
    padding: 10px 10px 0 10px;
}
  
.sub-header .branding{
    padding: 0;
    margin: -10px;
}







