<!-- <nav class="subnav">

    <ul class="nav sub-navigation">
        <li class="nav-item">
            <a class="nav-item">
                <img src="/intern-assignment-webapp/src/assets/images/teams.jfif" /> 
                <b>General</b>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link">Posts</a>
        </li>

        <li class="nav-item">
            <a class="nav-link">Files</a>
        </li>

        <li class="nav-item">
            <a class="nav-link">Wiki</a>
        </li>

        <li class="nav-item">
            <a class="nav-link">Back Log</a>
        </li>

        <li class="nav-item">
            <a class="nav-link">Tasks and research tasks</a>
        </li>

        <li class="nav-item">
            <a class="nav-link">BOT</a>
        </li>

        <li class="nav-item">
            <a class="nav-link">PHR Portal</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" >
                <span>7 more </span>
                <cds-icon shape="angle" direction="down"></cds-icon>
                <div class="dropdown bottom">
                    <div class="dropdown-menu">
                        <div class="dropdown-item">Resource Portal</div>
                        <div class="dropdown-item">Assignments</div>
                        <div class="dropdown-item">MBO</div>
                        <div class="dropdown-item">Good Times</div>
                        <div class="dropdown-item">Innovative Dashboard</div>
                        <div class="dropdown-item">Time Porting</div>
                        <div class="dropdown-item">Project Dashboard</div>
                    </div>
                </div>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link">
                <cds-icon shape="plus"></cds-icon>
            </a>
        </li>

        <div class="subnav-right">
            <div class="dropdown open">
                <div class="btn-group btn-icon">
                    <button class="dropdown-toggle btn btn-inverse meet-button" type="button">
                        <cds-icon shape="video-camera"></cds-icon> Meet
                    </button>
                    <button class="btn meet-button">
                        <cds-icon shape="angle" direction="down"></cds-icon>
                    </button>
                </div>
                
                <div class="dropdown bottom-right meet-button">
                    <div class="dropdown-menu">
                        <div class="dropdown-item">
                            <cds-icon shape="video-camera"></cds-icon>
                            Meet Now
                        </div>
    
                        <div class="dropdown-item">
                            <cds-icon shape="calendar"></cds-icon>
                            Schedule a Meeting
                        </div>
                    </div>
                </div>
            </div>

            <cds-icon shape="error-standard"></cds-icon>
            <cds-icon shape="ellipsis-horizontal" class="icons"></cds-icon>  
        </div>
    </ul>

</nav> -->

<header class="header-6 sub-header">
    <div class="branding">
        <a href="javascript://" class="nav-link">
            <span class="title">General</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="javascript://" class="nav-link nav-text">Posts</a>
        <a href="javascript://" class="nav-link nav-text">Files</a>
        <a href="javascript://" class="nav-link nav-text">Wiki</a>
        <a href="javascript://" class="nav-link nav-text">Backlog</a>
        <a href="javascript://" class="nav-link nav-text">Task and Research Tasks</a>
        <a href="javascript://" class="nav-link nav-text">BOT</a>
        <a href="javascript://" class="nav-link nav-text">PHP Portal</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
            <cds-icon shape="cog"></cds-icon>
        </a>
    </div>
</header>

