<header class="header-6 sub-header">
    <div class="branding">
        <a href="javascript://" class="nav-link">
            <span class="title">General</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="javascript://" class="nav-link nav-text">Posts</a>
        <a href="javascript://" class="nav-link nav-text">Files</a>
        <a href="javascript://" class="nav-link nav-text">Wiki</a>
        <a href="javascript://" class="nav-link nav-text">Backlog</a>
        <a href="javascript://" class="nav-link nav-text">Task and Research Tasks</a>
        <a href="javascript://" class="nav-link nav-text">BOT</a>
        <a href="javascript://" class="nav-link nav-text">PHP Portal</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
            <cds-icon shape="cog"></cds-icon>
        </a>
    </div>
</header>

